.DraftEditor-root {
    border: 1px solid #f1f1f1;
    padding: 10px;
    // height: 100px;
    border-radius: 2px;
    
}

.rdw-image-modal, .rdw-emoji-modal, .rdw-embedded-modal {
    left: -230px;
}